$black: #1c1c1c;
.product {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  &__item{
    text-align: center;
    max-width: 150px;
    display: flex;
    flex-direction: column;
  }

  &__img {
    margin-bottom: 10px;
    max-width: 150px;
  }

  &__text {
    color: $black;
    margin-bottom: 10px;
    &_bold {
      font-weight: 700;
    }
  }

  &__price{
    font-weight: bold;
    margin-bottom: 10px;
  }
}